@import './_variable.css';

#admin-page {
  height:100%;
  .admin-pagination {
    margin-top:20px;
    float:right;
  }
}


.admin-show-username {
  float:right;
  margin-right:100px;
  .username {
    margin-right:20px;
  }
}


.admin-login, .admin-signup {
  position:relative;
  height:100%;
  background-color:$m-color;
  .admin-login-form, .admin-signup-form {
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    height:400px;
    padding:100px 0;
    border-radius:8px;
    transform:translate(-50%, -50%);
    background-color: #fff;
  }
  .admin-login-title, .admin-signup-title {
    text-align:center;
    line-height: 40px;
    color: $m-color;
  }
}

