@import './_variable.css';

.leader {
  position:relative;
  padding:16px;
  padding-bottom:140px;
  background-color:$s-bg-color;
}


.leader-list {
  .leader-item {
    height:200px;
    margin-bottom:10px;
    border:1px solid #ced3d9;
    overflow:hidden;
    &:last-of-type {
      margin-bottom:0;
    }
    .leader-img {
      float:left;
      width:160px;
      height:200px;
      margin-right:10px;
      background:#fff url('../../images/loading.gif') center center no-repeat;
      background-size:40px 40px;
    }
    .leader-info {
      overflow:hidden;
    }
  }
}
